<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<display-name>AddComputer</display-name>
		<description></description>
		<servlet-class>com.excilys.formation.computerDataBase.servlet.AddComputer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddComputer</servlet-name>
		<url-pattern>/AddComputer</url-pattern>
	</servlet-mapping>
</web-app>
